html{
    overflow-y: scroll;
    overflow-x: hidden;
}

#logonav, #logo{
    color: rgb(0, 183, 255);
}

/* Login */
.login-content {
    justify-content: center;
	align-items: center;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.fondo-marino {
    background: url(https://cdn.betterwalls.com/pim/pr/WP/42476401/Photo-Wallpaper-Pool_big01.jpg) no-repeat;
	background-size: cover;
	background-color: #7a90df;
}

.fondo-color {
    background-color: #192357;
}

h3 {
    text-align: center;
}

.form-format {
    margin-top: 5%;
    margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inicio-format {
    max-width: 95%;
}

.table-format {
    margin-top: 5%;
    margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.table-responsive {
    max-height: 600px;
}

#tabla a:link, #tabla a:visited{
    color: #7a90df;
}


#tabla a:hover {
    color: #4a5ea7;
}